.upgrade-box:hover .description {
  display: block;
}

.upgrade-box {
  position: relative;
}
.description {
  position: absolute;
  display: none;
  /* height: auto; */
  text-align: left;
  top: 0px;
  left: 120px;
  background-color: #ccc;
  width: 180px;
  min-height: 120px;
  /* opacity: 0; */
  z-index: 9999;
  padding: 15px;
  /* transition: opacity 0.3s ease; */
}
