.kn-amount-display {
  background-color: #333;
  font-size: 15px;
  width: 325px;
  display: flex;
  justify-content: space-around;
  border-radius: 0px 0 10px 10px;
  background: rgb(51, 51, 51);
  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 1) 67%,
    rgba(51, 51, 51, 0.5466561624649859) 100%
  );
}

.bioKn {
  color: yellowgreen;
}
.technoKn {
  color: turquoise;
}

.cultureKn {
  color: violet;
}

.music-div {
  display: flex;
  align-items: center;
}

.music-tag {
  margin: 0;
}

.display-stats {
  background-color: #333;
  margin: 0;
  width: 100%;
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.display-knCount {
  height: auto;
}

.buffer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #33333390;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buffer img {
  width: 100px;
}

.generatedKn-p {
  background-color: #333;
  padding: 25px;
  border-radius: 10px;
  color: white;
}

.generatedKn-button {
  background-color: #ccc;
  border-radius: 5px;
  color: white;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 20px;
  font-size: 25px;
  height: 30px;
  width: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.generatedKn-button:hover {
  background-color: #fff;
  color: #333;
}
.character {
  height: 100%;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  margin-top: 5px;
}
.tree-item-container {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.upgrade-tier-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}

.upgrade-box {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upgrade-name {
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: #333;
  padding: 5%;
  height: 100%;
  min-width: 100px;
}

.upgrade-name:hover {
  background-color: #444;
}

.upgrade-name:disabled {
  background-color: rgb(43, 43, 43);
  color: rgb(155, 155, 155);
}
.upgrade-bought {
  background-color: #333;
  color: white;
  /* -webkit-box-shadow: 0px 0px 9px 3px #c7c2a9;
  box-shadow: 0px 0px 9px 3px #c7c2a9; */
}
span.upgrade-bought {
  background-color: transparent;
  border-radius: 3px;
  color: white;
  -webkit-box-shadow: 0px 0px 5px 3px #c7c2a9;
  box-shadow: 0px 0px 5px 3px #c7c2a9;
}

.chosen-book {
  -webkit-box-shadow: 0px 0px 15px 5px #d3c26e;
  box-shadow: 0px 0px 15px 5px #d3c26e;
}
span.chosen-book {
  background-color: transparent;
  border-radius: 3px;
  color: white;
  -webkit-box-shadow: 0px 0px 5px 3px #d3c26e;
  box-shadow: 0px 0px 5px 3px #d3c26e;
}

.w-25-flex {
  display: flex;
  justify-content: space-between;
  width: 25%;
}
.w-25 {
  display: flex;
  justify-content: center;
  width: 25%;
}

.upgrade-info-container {
  position: absolute;
  top: 70%;
  width: 100%;
}
.upgrade-info-toggle {
  position: absolute;
  top: 55%;
  left: 30%;
  width: 100%;
}

.upgrade-info-box {
  text-align: left;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border: 2px solid #ccc;
  min-width: 355px;
  max-width: 100%;
  width: 325px;
  padding: 0px 5px;
  background-color: rgba(45, 44, 85, 0.7);
}
.upgrade-info-toggle-box {
  text-align: left;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border: 2px solid #ccc;
  min-width: 50px;
  width: 150px;
  padding: 0px 5px;
  background-color: rgba(45, 44, 85, 0.7);
}

.upgrade-info-box p {
  margin: 20px auto;
  width: 90%;
}
