.custom-node {
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: #333;
  padding: 5%;
  min-width: 100px;
  height: 100px;
  min-height: 100px;
}
.custom-node:hover {
  background-color: #444;
}

.custom-node:disabled {
  background-color: rgb(43, 43, 43);
  color: rgb(155, 155, 155);
}
