.tree-item-container {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.upgrade-tier-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}

.upgrade-box {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upgrade-name {
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: #333;
  padding: 5%;
  height: 100%;
  min-width: 100px;
}

.upgrade-name:hover {
  background-color: #444;
}

.upgrade-name:disabled {
  background-color: rgb(43, 43, 43);
  color: rgb(155, 155, 155);
}
.upgrade-bought {
  background-color: #333;
  color: white;
  /* -webkit-box-shadow: 0px 0px 9px 3px #c7c2a9;
  box-shadow: 0px 0px 9px 3px #c7c2a9; */
}
span.upgrade-bought {
  background-color: transparent;
  border-radius: 3px;
  color: white;
  -webkit-box-shadow: 0px 0px 5px 3px #c7c2a9;
  box-shadow: 0px 0px 5px 3px #c7c2a9;
}

.chosen-book {
  -webkit-box-shadow: 0px 0px 15px 5px #d3c26e;
  box-shadow: 0px 0px 15px 5px #d3c26e;
}
span.chosen-book {
  background-color: transparent;
  border-radius: 3px;
  color: white;
  -webkit-box-shadow: 0px 0px 5px 3px #d3c26e;
  box-shadow: 0px 0px 5px 3px #d3c26e;
}

.w-25-flex {
  display: flex;
  justify-content: space-between;
  width: 25%;
}
.w-25 {
  display: flex;
  justify-content: center;
  width: 25%;
}

.upgrade-info-container {
  position: absolute;
  top: 70%;
  width: 100%;
}
.upgrade-info-toggle {
  position: absolute;
  top: 55%;
  left: 30%;
  width: 100%;
}

.upgrade-info-box {
  text-align: left;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border: 2px solid #ccc;
  min-width: 355px;
  max-width: 100%;
  width: 325px;
  padding: 0px 5px;
  background-color: rgba(45, 44, 85, 0.7);
}
.upgrade-info-toggle-box {
  text-align: left;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border: 2px solid #ccc;
  min-width: 50px;
  width: 150px;
  padding: 0px 5px;
  background-color: rgba(45, 44, 85, 0.7);
}

.upgrade-info-box p {
  margin: 20px auto;
  width: 90%;
}
