.statistics-section {
  width: 100%;
}

.stats-section {
  width: 80%;
  margin: 0 auto;

  text-align: left;
}

.stats-container {
  background-color: rgb(83, 86, 124);
  padding: 20px;
  color: white;
  border-radius: 10px;
  /*  border: 10px solid rgb(121, 71, 37); */
}
.achievements-section {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 100px;
}

.stats-section-title {
  width: 80%;
  font-size: 25px;
  color: white;
}

.achievement-container {
  display: flex;
  justify-content: space-around;
  overflow-wrap: normal;
}

.achievement-box {
  width: 50px;
  height: 50px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-wrap: break-word;
}
